}
body{
    background-color: #f8d2d2;
}
header{
    width: 100vw;
    background: #000055;
    display: flex;
    justify-content: space-between;
}
header button{
    background: #00000077;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left:20px;
    padding-right: 20px;
}
header button:hover{
    background: #000000aa;
    color:yellow;
}